.main {
  overflow: hidden;
}

.section {
  padding: 100px 15px;
}

.footer {
  padding: 50px 15px;
}

@media (max-width: 991px) {
  .intro-image {
    max-width: 100%;
  }
}

/******************
Custom CSS
*/
html {
  scroll-behavior: smooth;
}

@media screen and (min-width:769px){
  .navbar-toggler-icon,
  .navbar-toggle {
    display: none;
  }
}